@import "../../baseStyle";
.navBar {
    @include flexCenter(row, center);
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    background-color: grey; 

    a {
        text-decoration: none;
        color: white;
        font-size: larger;
        border: 1px black;
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.8)
        }

        transition: transform 100ms;
    }
    h2 {
        color : white;
    }

}