.listView {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.searchBar {
    margin: 3rem;
}

.toolBar {    
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.2rem;
}

.MuiPaper-root {
    min-height: 65vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MuiListItemAvatar-root {
    transform: scale(1.5);
}

.scrollList {
    margin: 10px;
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    justify-content: center;
}

.MuiButton-root {
    align-self: center;
}

.MuiDialogTitle-root {
    background-color: blue;
    width: 100%;
    color: white;
}

.filter {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.MuiDialogContent-root  {
    align-self: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 80%;
}

.form-control {
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.MuiDialogContent-root {
    justify-content: space-around;
}
.prompt {
    text-align: center;
}

.pageIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.MuiListItem-root {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MuiListItemText-root {
    margin-right: 2rem;
    text-align: end;
}