@import "../../_baseStyle";

.container { 
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 60vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.MuiButtonBase-root:first-of-type {
    margin-right: auto;
}
.MuiButtonBase-root:last-of-type {
    margin-left: auto;
}

.mainView {
    @include flexCenter(row, center);
    margin: 10px;
    width: 80%;
    justify-content: flex-start;
}

.detail {
    height:100%;
    margin-left: 2rem;
    @include flexCenter(column, flex-start);
    overflow: scroll;
    justify-content: space-evenly;
}

.wrapper {
    width:100%;
    height:100%;
    @include flexCenter(column, center)
}

img {
    height: 80%;
}