.cardView {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.MuiCard-root {
    margin: 2rem;
    width: 18vw;
}

.gallery {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

.pageNumber {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.rank {
    position: absolute;
}

.active {
    font-weight: bold;
    
}
