@import "../../_baseStyle.scss";

.cardView {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.MuiCard-root { 
    margin: 2rem;
    width: 18vw;
    
}

.gallery {
    @include flexCenter(column, center);
    padding:10px;
}

.MuiPaper-root {
    
    transition: transform ease-in-out 5s;
    &:hover {
        transform: scale(1.1);

    }
}

.pageNumber {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.active {
    font-weight: bold;
}
