.app {
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-link {
  color: #61dafb;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.5rem;
  text-align: end;
  margin-top: auto;
}
.footer div {
  align-items: center;
  justify-content: center;
}

.footer img {
  transform: translateY(-5px);
  align-items: center;
  padding-left: 10px;
  width: 30px;
  height: 30px;
}
